* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "SF Pro", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
.leaflet-container {
  width: 100%;
  height: 100%;
}
.catergoryBtn {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  background-color: #393939;
  color:#fff;
  border: none;
}